name: RUST_PARINUX_FINAL
on: workflow_dispatch

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: 1. INFO RED
        shell: powershell
        run: |
          $ip = curl.exe -s https://ifconfig.me
          Write-Host "IP_DEL_RUNNER: $ip"
          Write-Host "TIP: Usa VPN en tu celular si el ID no conecta."

      - name: 2. INSTALAR RUSTDESK
        shell: powershell
        run: |
          $url = "https://github.com/rustdesk/rustdesk/releases/download/1.3.7/rustdesk-1.3.7-x86_64.exe"
          $exe = "$env:TEMP\rd.exe"
          curl.exe -L -o $exe $url
          Start-Process -FilePath $exe -ArgumentList "--install" -Wait
          Start-Sleep -Seconds 10

      - name: 3. SET PASS
        shell: powershell
        run: |
          $rd = "C:\Program Files\RustDesk\rustdesk.exe"
          if (Test-Path $rd) {
              Start-Process -FilePath $rd -ArgumentList "--password parinuxd" -Wait
              Write-Host "PASS_CONFIGURADA: parinuxd"
          }

      - name: 4. CAPTURA GOFILE
        shell: powershell
        run: |
          Add-Type -AssemblyName System.Windows.Forms, System.Drawing
          $s = [System.Windows.Forms.Screen]::PrimaryScreen.Bounds
          $b = New-Object System.Drawing.Bitmap($s.Width, $s.Height)
          $g = [System.Drawing.Graphics]::FromImage($b)
          $g.CopyFromScreen(0, 0, 0, 0, $b.Size)
          $img = "$env:TEMP\id.png"
          $b.Save($img)
          
          $serv = (curl.exe -s https://api.gofile.io/servers | ConvertFrom-Json).data.servers[0].name
          $up = curl.exe -s -F "file=@$img" "https://$($serv).gofile.io/contents/uploadfile" | ConvertFrom-Json
          $link = $up.data.downloadPage
          Write-Host "LINK_CAPTURA: $link"

      - name: 5. LOOP
        shell: powershell
        run: |
          Write-Host "RUNNER_READY"
          while($true) { Start-Sleep 60 }

