name: RDP_NGROK_CLEAN
on: workflow_dispatch

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: 1. SETUP RDP
        shell: powershell
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user boosito Parinuxd123 /add
          net localgroup administrators boosito /add

      - name: 2. INSTALAR NGROK
        shell: powershell
        run: |
          choco install ngrok -y
          ngrok authtoken 393CwGNqE4jpyhdAuvNewGtG58B_5roLoskHKD1jLw4CCigti

      - name: 3. INICIAR TUNEL
        shell: powershell
        run: |
          # Iniciamos el tunel en segundo plano
          Start-Process -FilePath "ngrok" -ArgumentList "tcp", "3389"
          Start-Sleep -Seconds 20

      - name: 4. DIRECCION FINAL
        shell: powershell
        run: |
          # Consultar la API local de ngrok
          $json = curl.exe -s http://localhost:4040/api/tunnels | ConvertFrom-Json
          $url = $json.tunnels[0].public_url
          $clean = $url.Replace("tcp://", "")
          Write-Host "DIRECCION_RDP: $clean"
          Write-Host "USUARIO: boosito"
          Write-Host "CLAVE: Parinuxd123"

      - name: 5. LOOP
        shell: powershell
        run: |
          Write-Host "CONECTATE YA"
          while($true) { Start-Sleep 60 }
          
