name: RDP_TAILSCALE_FINAL
on:
  workflow_dispatch:
    inputs:
      tailscale_authkey:
        description: 'Pega tu Auth Key de Tailscale aqui'
        required: true
        default: ''

jobs:
  deploy:
    runs-on: windows-latest
    steps:
      - name: 1. CONFIGURAR RDP Y USUARIO
        shell: powershell
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          net user boosito Parinuxd123 /add
          net localgroup administrators boosito /add

      - name: 2. INSTALAR TAILSCALE
        shell: powershell
        run: |
          curl.exe -L -o tailscale-setup.exe https://pkgs.tailscale.com/stable/tailscale-setup-exe
          Start-Process -FilePath .\tailscale-setup.exe -ArgumentList "/quiet" -Wait
          
          # Usamos el input que pusiste al darle click al boton
          $authkey = "${{ github.event.inputs.tailscale_authkey }}"
          & "C:\Program Files\Tailscale\tailscale.exe" up --authkey $authkey

      - name: 3. DESCARGAR REMOTELY (MIRILLIS)
        shell: powershell
        run: |
          $url = "https://downloads.mirillis.com/files/remote_1_3_0_setup.exe"
          $dest = "$env:USERPROFILE\Downloads\remotely_setup.exe"
          curl.exe -L -o $dest $url
          Write-Host "Remotely descargado en Downloads"

      - name: 4. INFO DE CONEXION
        shell: powershell
        run: |
          $ip = (& "C:\Program Files\Tailscale\tailscale.exe" ip -4)
          Write-Host "========================================"
          Write-Host "IP_TAILSCALE: $ip"
          Write-Host "USUARIO: boosito"
          Write-Host "CLAVE: Parinuxd123"
          Write-Host "========================================"

      - name: 5. MANTENER VIVO
        shell: powershell
        run: |
          while($true) { Start-Sleep 60 }

